html > {
    body {
        $headerHeight: 4vh;
        $inputHeight: 25vh;

        position: relative;
        width: 100%;
        height: 100vh;

        margin: 0;
        background: var(--background-color);
        min-height: 600px;

        header {
            z-index: 5000;
            width: 100%;
            height: $headerHeight;
            position: fixed;

            .title {
                font-family: Arial, Helvetica, sans-serif;
                background: var(--main-type-color);
                box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
                margin: 0;
                padding: 0 20px;
                font-size: 1.7vh;
                line-height: $headerHeight;
                color: var(--title-font-color);
                font-weight: 300;
            }
        }

        main {
            .main__title-space {
                height: $headerHeight;
                width: 100%;
            }

            .space__center {
                position: absolute;
                top: calc(#{$headerHeight} + #{80vmin / 2} + (100vh - #{$headerHeight} - #{$inputHeight} - 80vmin) / 2);
                left: 50%;
                transform: translate(-50%, -50%);

                #sudoku {
                    border-collapse: collapse;
                    display: table;
                    table-layout: fixed;

                    width: 80vmin;
                    height: 80vmin;

                    > tr > td {
                        display: table-cell;
                        $size: calc(80vmin / 9);
                        width: $size;
                        height: $size;
                        text-align: center;
                        border: 1px solid var(--sudoku-border-color);
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 4vmin;
                        font-weight: 300;
                        color: var(--sudoku-cell-font-color);
                        cursor: pointer;
                        user-select: none;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        transition: color .2s ease;
                        -webkit-tap-highlight-color: rgba(0,0,0,0);
                        z-index: 1;
                        overflow: hidden;
                        transition: background .5s ease;

                        table {
                            position: relative;
                            padding: 0;
                            border-collapse: collapse;
                            border: none;
                            width: $size;
                            height: $size;
                            margin: 0;

                            td {
                                padding: 0;
                                $sizeTD: calc(80vmin / 27);
                                border: none;
                                width: $sizeTD;
                                height: $sizeTD;
                                font-size: calc(#{$sizeTD} / 1.5);
                            }
                        }
                    }
    
                    td.box-straight {
                        background: var(--sudoku-cell-straight-background-color);
                    }

                    td.selected {
                        color: var(--sudoku-cell-selected-font-color);
                        
                        background: var(--sudoku-cell-selected-background-color);

                        &.box-straight {
                            background: var(--sudoku-cell-selected-straight-background-color);
                        }

                        &.invalid {
                            color: var(--sudoku-cell-selected-invalid-font-color);
                            background: var(--sudoku-cell-selected-invalid-background-color);
                        }
                    }

                    td.error {
                        color: var(--sudoku-cell-error-font-color);
                        // background: #FF9090;
                    }
    
                    td.solid {
                        color: var(--sudoku-cell-solid-font-color);
                    }

                    // &.correct
                    &.correct td.selected {
                        background: var(--sudoku-cell-selected-background-color);

                        &.box-straight {
                            background: var(--sudoku-cell-selected-straight-background-color);
                        }
                    }
                }
            }

            .input {
                $extraHeight: 2.5vh;
                overflow: hidden;
                position: fixed;
                box-shadow: 0 -1px 2px 1px rgba(0,0,0,.2);
                bottom: 0;
                left: 0;
                width: 100%;
                height: $inputHeight;
                background: var(--input-background-color);
                transform: translateY(0);
                transition: .1s ease transform, .2s ease height;

                &.menu {
                    height: $inputHeight * 2;

                    .extra i {
                        transform: rotate(160deg);
                    }
                }

                &.inactive {
                    transform: translateY(100%);
                }

                .extra {
                    width: 100%;
                    height: $extraHeight;
                    background: var(--input-background-color);
                    text-align: center;
                    z-index: 50;
                    position: relative;

                    i {
                        margin: 0 20px;
                        line-height: $extraHeight;
                        font-size: $extraHeight / 1.8;
                        color: var(--input-extra-symbol-color);
                    }
                }
                $keyboardHeight: #{$inputHeight - $extraHeight};
                .k-holder {
                    width: 100%;
                    height: $keyboardHeight;
                    position: absolute;
                    bottom: 0;
                    overflow: hidden;
                    transition: .2s ease transform;

                    &.inactive {
                        transform: translateY(100%);
                    }

                    #keyboard {
                        height: $keyboardHeight;
                        width: 100%;
                        background: var(--input-keyboard-background-color);
                        border-collapse: collapse;
                        position: absolute;
                        bottom: 0;
                        transition: transform .3s ease;
                        transform: translateY(-100%);
                        z-index: 5;
        
                        .key {
                            background: var(--input-background-color);
                            // border: 2px solid #505050;
                            margin: 0;
                            outline: none;
                            line-height: $keyboardHeight / 2;
                            text-align: center;
                            font-size: 4vh;
                            color: var(--input-keyboard-font-color);
                            width: calc(100% / 5);
                            font-family: Arial, Helvetica, sans-serif;
                        }
    
                        &.active {
                            transform: translateY(0);
                        }
                    }
    
                    #keyboard-small {
                        $keyboardHeight: #{$inputHeight - $extraHeight};
                        height: $keyboardHeight;
                        width: 100%;
                        background: var(--input-background-color);
                        border-collapse: collapse;
                        position: absolute;
                        bottom: 0;
                        transition: transform .3s ease;
                        transform: translateY(100%);
                        z-index: 5;
        
                        .min-key {
                            background: var(--input-background-color);
                            // border: 2px solid #505050;
                            margin: 0;
                            outline: none;
                            line-height: $keyboardHeight / 2;
                            text-align: center;
                            font-size: 2.7vh;
                            color: var(--input-keyboard-font-color);
                            width: calc(100% / 5);
                            font-family: Arial, Helvetica, sans-serif;
    
                            &.up {
                                font-size: 4vh;
                            }
                        }
    
                        &.active {
                            transform: translateY(0);
                        }
                    }
                }

                .menu-holder {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: calc(#{$keyboardHeight} * 2);
                    transform: translateX(-100%);
                    transition: .2s ease transform;

                    &.active {
                        transition-delay: .3s;
                        transform: translateX(0);
                    }

                    .container {
                        width: 80%;
                        margin: auto;
                        pointer-events: none;

                        .buttons {
                            width: 50%;
                            display: inline-block;
                            pointer-events: none;

                            #new-sudoku {
                                $nsWidth: 29vw; // NS = new sudoku
                                $nsHeight: 7vh;
                                width: $nsWidth;
                                height: $nsHeight;
                                background: var(--button-background-color);
                                border-radius: $nsHeight / 3;
                                position: relative;
                                box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
                                pointer-events: all;
                                
                                .title {
                                    line-height: $nsHeight;
                                    font-size: calc(#{$nsHeight} / 4);
                                    text-align: left;
                                    margin: 0 calc(#{$nsWidth} / 10);
                                    font-family: Arial, Helvetica, sans-serif;
                                    font-weight: 700;
                                    pointer-events: none;
                                    color: var(--button-font-color);
                                }
                                
                                .difficulty-holder {
                                    position: absolute;
                                    left: 75%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
    
                                    .difficulty {
                                        margin: 3px 0;
                                        width: calc(#{$nsHeight} / 3);
                                        height: calc(#{$nsHeight} / 3);
                                        text-align: center;
                                        line-height: calc(#{$nsHeight} / 3);
                                        font-size: calc(#{$nsHeight} / 3);
                                        font-family: Arial, Helvetica, sans-serif;
                                        background: var(--button-new-sudoku-background-color);
                                        box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
                                        padding: 8px;
                                        border-radius: $nsHeight;

                                        i {
                                            pointer-events: none;
                                            color: var(--button-font-color);
                                        }
                                    }
        
                                    .list-holder {
                                        overflow: hidden;
                                        position: absolute;
                                        top: 100%;
                                        left: 0;
                                        height: 0;
                                        transition: height .3s ease;
                                        border-radius: 10px;

                                        &.active {
                                            z-index: 30;
                                            height: auto;
                                            box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
                                        }

                                        .list {
                                            z-index: 30;
                                            padding: 0;
                                            margin: 0;
                                            list-style: none;
                                            font-family: Arial, Helvetica, sans-serif;
                                            font-size: calc(#{$nsHeight} / 3);
                                            background: var(--button-new-sudoku-list-background-color);
                                            color: var(--button-new-sudoku-list-font-color);
    
                                            li {
                                                text-align: center;
                                                padding: 10px 10px;
                                                color: var(--button-new-sudoku-list-font-color);
                                                // border-top: 3px solid #505050;

                                                &:nth-child(even) {
                                                    background: var(--button-new-sudoku-list-second-background-color);
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            #solve-sudoku {
                                pointer-events: all;
                                position: relative;
                                float: left;
                                margin: 2vh 0 0 0;
                                $ssWidth: 29vw; // SS = solve sudoku
                                $ssHeight: 7vh;
                                width: $ssWidth;
                                height: $ssHeight;
                                background: var(--button-background-color);
                                border-radius: $ssHeight / 3;
                                box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
                                z-index: -1;

                                .title {
                                    pointer-events: none;
                                    line-height: $ssHeight;
                                    font-size: calc(#{$ssHeight} / 4);
                                    text-align: left;
                                    margin: 0 calc(#{$ssWidth} / 10);
                                    font-family: Arial, Helvetica, sans-serif;
                                    font-weight: 700;
                                    color: var(--button-font-color);
                                }
                            }
                        }

                        .toggles {
                            width: 50%;
                            float: right;
                            align-self: center;

                            .toggle {
                                position: relative;
                                $width: 29vw;
                                $height: 7vh;
                                width: $width;
                                height: $height;
                                background: var(--button-background-color);
                                border-radius: $height / 3;
                                box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);
                                pointer-events: all;

                                .title {
                                    pointer-events: none;
                                    line-height: $height;
                                    font-size: calc(#{$height} / 4);
                                    text-align: left;
                                    margin: 0 calc(#{$width} / 10);
                                    font-family: Arial, Helvetica, sans-serif;
                                    font-weight: 700;
                                    pointer-events: none;
                                    color: var(--button-font-color);
                                }

                                .object {
                                    width: 15px;
                                    height: 15px;
                                    position: absolute;
                                    left: 80%;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    background: var(--switch-off-color);
                                    border-radius: 5px;
                                    transition: background .5s ease;
                                    pointer-events: none;
                                }

                                &.active .object {
                                    background: var(--switch-on-color);
                                }
                            }
                        }
                    }
                }
            }

            .sudoku-solved {
                position: fixed;
                bottom: 1vh;
                left: 0;
                width: 100%;
                text-align: center;

                .text {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 4vh;
                    color: var(--sudoku-solved-object-text-font-color);
                }

                .button {
                    pointer-events: all;
                    position: relative;
                    margin: 2vh 0 0 0;
                    $width: 29vw; // SS = solve sudoku
                    $height: 7vh;
                    // background: lighten(#E1E1E1, 2%);
                    display: inline-block;
                    box-shadow: 0 1px 2px 1px rgba(0,0,0,.2);

                    .title {
                        pointer-events: none;
                        line-height: $height;
                        font-size: calc(#{$height} / 4);
                        text-align: left;
                        margin: 0 calc(#{$width} / 10);
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 700;
                        color: var(--button-font-color);
                    }
                }
            }
        }
    }
}

:root {
    --background-color: #E3E3E3;
    --main-type-color: #E1E1E1;
    --title-font-color: #151519;
    --sudoku-border-color: #909090;
    --sudoku-cell-font-color: #606060;
    --sudoku-cell-straight-background-color: #d7d7d7;
    --sudoku-cell-selected-straight-background-color: #c2c2c2;
    --sudoku-cell-selected-font-color: #404040;
    --sudoku-cell-selected-background-color: #d4d4d4;
    --sudoku-cell-selected-invalid-font-color: #FF4545;
    --sudoku-cell-selected-invalid-background-color: #FF9090;
    --sudoku-cell-error-font-color: #FF4545;
    --sudoku-cell-solid-font-color: #151515;
    --input-background-color: #dedede;
    --input-extra-symbol-color: #454545;
    --input-keyboard-background-color: #dcdcdc;
    --input-keyboard-font-color: #454545;
    --button-background-color: #e6e6e6;
    --button-new-sudoku-background-color: #e8e8e8;
    --button-font-color: #202020;
    --button-new-sudoku-list-background-color: #ebebeb;
    --button-new-sudoku-list-font-color: #303030;
    --button-new-sudoku-list-second-background-color: #d4d4d4;
    --switch-off-color: #FF4545;
    --switch-on-color: #45D045;
    --sudoku-solved-object-text-font-color: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1c1c1d;
        --main-type-color: #1e1e1f;
        --title-font-color: #eaeae7;
        --sudoku-border-color: #6f6f70;
        --sudoku-cell-font-color: #9f9fA0;
        --sudoku-cell-straight-background-color: #282829;
        --sudoku-cell-selected-straight-background-color: #1c1c1d;
        --sudoku-cell-selected-font-color: #bfbfc0;
        --sudoku-cell-selected-background-color: #2b2b2c;
        --sudoku-cell-selected-invalid-font-color: #FF4545;
        --sudoku-cell-selected-invalid-background-color: #FF9090;
        --sudoku-cell-error-font-color: #FF4545;
        --sudoku-cell-solid-font-color: #eaeaeb;
        --input-background-color: #212122;
        --input-extra-symbol-color: #bababb;
        --input-keyboard-background-color: #232324;
        --input-keyboard-font-color: #bababb;
        --button-background-color: #19191a;
        --button-new-sudoku-background-color: #161617;
        --button-font-color: #dfdfe0;
        --button-new-sudoku-list-background-color: #141415;
        --button-new-sudoku-list-font-color: #cfcfd0;
        --button-new-sudoku-list-second-background-color: #2b2b2c;
        --switch-off-color: #FF4545;
        --switch-on-color: #45D045;
        --sudoku-solved-object-text-font-color: #fff;
    }
}