html > body {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: var(--background-color);
  min-height: 600px;
}

html > body header {
  z-index: 5000;
  width: 100%;
  height: 4vh;
  position: fixed;
}

html > body header .title {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--main-type-color);
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0 20px;
  font-size: 1.7vh;
  line-height: 4vh;
  color: var(--title-font-color);
  font-weight: 300;
}

html > body main .main__title-space {
  height: 4vh;
  width: 100%;
}

html > body main .space__center {
  position: absolute;
  top: calc(4vh + 80vmin/2 + (100vh - 4vh - 25vh - 80vmin) / 2);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html > body main .space__center #sudoku {
  border-collapse: collapse;
  display: table;
  table-layout: fixed;
  width: 80vmin;
  height: 80vmin;
}

html > body main .space__center #sudoku > tr > td {
  display: table-cell;
  width: calc(80vmin / 9);
  height: calc(80vmin / 9);
  text-align: center;
  border: 1px solid var(--sudoku-border-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vmin;
  font-weight: 300;
  color: var(--sudoku-cell-font-color);
  cursor: pointer;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 1;
  overflow: hidden;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
}

html > body main .space__center #sudoku > tr > td table {
  position: relative;
  padding: 0;
  border-collapse: collapse;
  border: none;
  width: calc(80vmin / 9);
  height: calc(80vmin / 9);
  margin: 0;
}

html > body main .space__center #sudoku > tr > td table td {
  padding: 0;
  border: none;
  width: calc(80vmin / 27);
  height: calc(80vmin / 27);
  font-size: calc(calc(80vmin / 27) / 1.5);
}

html > body main .space__center #sudoku td.box-straight {
  background: var(--sudoku-cell-straight-background-color);
}

html > body main .space__center #sudoku td.selected {
  color: var(--sudoku-cell-selected-font-color);
  background: var(--sudoku-cell-selected-background-color);
}

html > body main .space__center #sudoku td.selected.box-straight {
  background: var(--sudoku-cell-selected-straight-background-color);
}

html > body main .space__center #sudoku td.selected.invalid {
  color: var(--sudoku-cell-selected-invalid-font-color);
  background: var(--sudoku-cell-selected-invalid-background-color);
}

html > body main .space__center #sudoku td.error {
  color: var(--sudoku-cell-error-font-color);
}

html > body main .space__center #sudoku td.solid {
  color: var(--sudoku-cell-solid-font-color);
}

html > body main .space__center #sudoku.correct td.selected {
  background: var(--sudoku-cell-selected-background-color);
}

html > body main .space__center #sudoku.correct td.selected.box-straight {
  background: var(--sudoku-cell-selected-straight-background-color);
}

html > body main .input {
  overflow: hidden;
  position: fixed;
  -webkit-box-shadow: 0 -1px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -1px 2px 1px rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25vh;
  background: var(--input-background-color);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: .1s ease transform, .2s ease height;
  transition: .1s ease transform, .2s ease height;
}

html > body main .input.menu {
  height: 50vh;
}

html > body main .input.menu .extra i {
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
}

html > body main .input.inactive {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

html > body main .input .extra {
  width: 100%;
  height: 2.5vh;
  background: var(--input-background-color);
  text-align: center;
  z-index: 50;
  position: relative;
}

html > body main .input .extra i {
  margin: 0 20px;
  line-height: 2.5vh;
  font-size: 1.38889vh;
  color: var(--input-extra-symbol-color);
}

html > body main .input .k-holder {
  width: 100%;
  height: 22.5vh;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  -webkit-transition: .2s ease transform;
  transition: .2s ease transform;
}

html > body main .input .k-holder.inactive {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

html > body main .input .k-holder #keyboard {
  height: 22.5vh;
  width: 100%;
  background: var(--input-keyboard-background-color);
  border-collapse: collapse;
  position: absolute;
  bottom: 0;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 5;
}

html > body main .input .k-holder #keyboard .key {
  background: var(--input-background-color);
  margin: 0;
  outline: none;
  line-height: 22.5vh/2;
  text-align: center;
  font-size: 4vh;
  color: var(--input-keyboard-font-color);
  width: calc(100% / 5);
  font-family: Arial, Helvetica, sans-serif;
}

html > body main .input .k-holder #keyboard.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

html > body main .input .k-holder #keyboard-small {
  height: 22.5vh;
  width: 100%;
  background: var(--input-background-color);
  border-collapse: collapse;
  position: absolute;
  bottom: 0;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 5;
}

html > body main .input .k-holder #keyboard-small .min-key {
  background: var(--input-background-color);
  margin: 0;
  outline: none;
  line-height: 22.5vh/2;
  text-align: center;
  font-size: 2.7vh;
  color: var(--input-keyboard-font-color);
  width: calc(100% / 5);
  font-family: Arial, Helvetica, sans-serif;
}

html > body main .input .k-holder #keyboard-small .min-key.up {
  font-size: 4vh;
}

html > body main .input .k-holder #keyboard-small.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

html > body main .input .menu-holder {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(22.5vh * 2);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .2s ease transform;
  transition: .2s ease transform;
}

html > body main .input .menu-holder.active {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

html > body main .input .menu-holder .container {
  width: 80%;
  margin: auto;
  pointer-events: none;
}

html > body main .input .menu-holder .container .buttons {
  width: 50%;
  display: inline-block;
  pointer-events: none;
}

html > body main .input .menu-holder .container .buttons #new-sudoku {
  width: 29vw;
  height: 7vh;
  background: var(--button-background-color);
  border-radius: 2.33333vh;
  position: relative;
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  pointer-events: all;
}

html > body main .input .menu-holder .container .buttons #new-sudoku .title {
  line-height: 7vh;
  font-size: calc(7vh / 4);
  text-align: left;
  margin: 0 calc(29vw / 10);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  pointer-events: none;
  color: var(--button-font-color);
}

html > body main .input .menu-holder .container .buttons #new-sudoku .difficulty-holder {
  position: absolute;
  left: 75%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html > body main .input .menu-holder .container .buttons #new-sudoku .difficulty-holder .difficulty {
  margin: 3px 0;
  width: calc(7vh / 3);
  height: calc(7vh / 3);
  text-align: center;
  line-height: calc(7vh / 3);
  font-size: calc(7vh / 3);
  font-family: Arial, Helvetica, sans-serif;
  background: var(--button-new-sudoku-background-color);
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 7vh;
}

html > body main .input .menu-holder .container .buttons #new-sudoku .difficulty-holder .difficulty i {
  pointer-events: none;
  color: var(--button-font-color);
}

html > body main .input .menu-holder .container .buttons #new-sudoku .difficulty-holder .list-holder {
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  height: 0;
  -webkit-transition: height .3s ease;
  transition: height .3s ease;
  border-radius: 10px;
}

html > body main .input .menu-holder .container .buttons #new-sudoku .difficulty-holder .list-holder.active {
  z-index: 30;
  height: auto;
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}

html > body main .input .menu-holder .container .buttons #new-sudoku .difficulty-holder .list-holder .list {
  z-index: 30;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(7vh / 3);
  background: var(--button-new-sudoku-list-background-color);
  color: var(--button-new-sudoku-list-font-color);
}

html > body main .input .menu-holder .container .buttons #new-sudoku .difficulty-holder .list-holder .list li {
  text-align: center;
  padding: 10px 10px;
  color: var(--button-new-sudoku-list-font-color);
}

html > body main .input .menu-holder .container .buttons #new-sudoku .difficulty-holder .list-holder .list li:nth-child(even) {
  background: var(--button-new-sudoku-list-second-background-color);
}

html > body main .input .menu-holder .container .buttons #solve-sudoku {
  pointer-events: all;
  position: relative;
  float: left;
  margin: 2vh 0 0 0;
  width: 29vw;
  height: 7vh;
  background: var(--button-background-color);
  border-radius: 2.33333vh;
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

html > body main .input .menu-holder .container .buttons #solve-sudoku .title {
  pointer-events: none;
  line-height: 7vh;
  font-size: calc(7vh / 4);
  text-align: left;
  margin: 0 calc(29vw / 10);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: var(--button-font-color);
}

html > body main .input .menu-holder .container .toggles {
  width: 50%;
  float: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

html > body main .input .menu-holder .container .toggles .toggle {
  position: relative;
  width: 29vw;
  height: 7vh;
  background: var(--button-background-color);
  border-radius: 2.33333vh;
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  pointer-events: all;
}

html > body main .input .menu-holder .container .toggles .toggle .title {
  pointer-events: none;
  line-height: 7vh;
  font-size: calc(7vh / 4);
  text-align: left;
  margin: 0 calc(29vw / 10);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  pointer-events: none;
  color: var(--button-font-color);
}

html > body main .input .menu-holder .container .toggles .toggle .object {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 80%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: var(--switch-off-color);
  border-radius: 5px;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
  pointer-events: none;
}

html > body main .input .menu-holder .container .toggles .toggle.active .object {
  background: var(--switch-on-color);
}

html > body main .sudoku-solved {
  position: fixed;
  bottom: 1vh;
  left: 0;
  width: 100%;
  text-align: center;
}

html > body main .sudoku-solved .text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vh;
  color: var(--sudoku-solved-object-text-font-color);
}

html > body main .sudoku-solved .button {
  pointer-events: all;
  position: relative;
  margin: 2vh 0 0 0;
  display: inline-block;
  -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}

html > body main .sudoku-solved .button .title {
  pointer-events: none;
  line-height: 7vh;
  font-size: calc(7vh / 4);
  text-align: left;
  margin: 0 calc(29vw / 10);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: var(--button-font-color);
}

:root {
  --background-color: #E3E3E3;
  --main-type-color: #E1E1E1;
  --title-font-color: #151519;
  --sudoku-border-color: #909090;
  --sudoku-cell-font-color: #606060;
  --sudoku-cell-straight-background-color: #d7d7d7;
  --sudoku-cell-selected-straight-background-color: #c2c2c2;
  --sudoku-cell-selected-font-color: #404040;
  --sudoku-cell-selected-background-color: #d4d4d4;
  --sudoku-cell-selected-invalid-font-color: #FF4545;
  --sudoku-cell-selected-invalid-background-color: #FF9090;
  --sudoku-cell-error-font-color: #FF4545;
  --sudoku-cell-solid-font-color: #151515;
  --input-background-color: #dedede;
  --input-extra-symbol-color: #454545;
  --input-keyboard-background-color: #dcdcdc;
  --input-keyboard-font-color: #454545;
  --button-background-color: #e6e6e6;
  --button-new-sudoku-background-color: #e8e8e8;
  --button-font-color: #202020;
  --button-new-sudoku-list-background-color: #ebebeb;
  --button-new-sudoku-list-font-color: #303030;
  --button-new-sudoku-list-second-background-color: #d4d4d4;
  --switch-off-color: #FF4545;
  --switch-on-color: #45D045;
  --sudoku-solved-object-text-font-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1c1c1d;
    --main-type-color: #1e1e1f;
    --title-font-color: #eaeae7;
    --sudoku-border-color: #6f6f70;
    --sudoku-cell-font-color: #9f9fA0;
    --sudoku-cell-straight-background-color: #282829;
    --sudoku-cell-selected-straight-background-color: #1c1c1d;
    --sudoku-cell-selected-font-color: #bfbfc0;
    --sudoku-cell-selected-background-color: #2b2b2c;
    --sudoku-cell-selected-invalid-font-color: #FF4545;
    --sudoku-cell-selected-invalid-background-color: #FF9090;
    --sudoku-cell-error-font-color: #FF4545;
    --sudoku-cell-solid-font-color: #eaeaeb;
    --input-background-color: #212122;
    --input-extra-symbol-color: #bababb;
    --input-keyboard-background-color: #232324;
    --input-keyboard-font-color: #bababb;
    --button-background-color: #19191a;
    --button-new-sudoku-background-color: #161617;
    --button-font-color: #dfdfe0;
    --button-new-sudoku-list-background-color: #141415;
    --button-new-sudoku-list-font-color: #cfcfd0;
    --button-new-sudoku-list-second-background-color: #2b2b2c;
    --switch-off-color: #FF4545;
    --switch-on-color: #45D045;
    --sudoku-solved-object-text-font-color: #fff;
  }
}
/*# sourceMappingURL=style.css.map */